In [1]:
import pandas as pd

In [2]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly
import plotly.graph_objs as go
import plotly.figure_factory as ff

In [3]:
plotly.tools.set_credentials_file(username='douglasnavarro', api_key='PqgUwmrzrrAT6phGlgDH')

In [4]:
df = pd.read_csv('subway-data-clean.csv')

In [5]:
df['Time'] = pd.to_datetime(df['Time'], format="%Y-%m-%d %H:%M")

In [6]:
def make_gantt_df(df):
    '''
    Returns dataFrame plottable using plotly's Gantt chart
    '''
    gantt_df = pd.DataFrame()
    df = df.loc[df['Status'].shift() != df['Status']]
    gantt_df['Task'] = df['Status']
    gantt_df['Start'] = df['Time']
    gantt_df['Finish'] = df['Time'].shift(-1)
    gantt_df = gantt_df.reset_index(drop=True)
    return gantt_df

In [7]:
def drop_weird(df):
    df = df[(df['Finish'] - df['Start']).dt.days < 1]
    #df = df[((df['Finish'] - df['Start']).dt.seconds//3600) < 23]
    return df

In [8]:
df_azul = df[df['Line'] == 'azul']

In [9]:
df_azul = make_gantt_df(df_azul)

In [10]:
df_azul.head()

                  Task               Start              Finish
0               normal 2018-05-07 23:45:00 2018-05-09 00:00:00
1   operação encerrada 2018-05-09 00:00:00 2018-05-09 04:41:00
2               normal 2018-05-09 04:41:00 2018-05-09 18:10:00
3  velocidade reduzida 2018-05-09 18:10:00 2018-05-09 18:16:00
4               normal 2018-05-09 18:16:00 2018-05-10 00:00:00

In [11]:
df_azul.drop(df_azul.index[-1], inplace=True)
df_azul.head()

                  Task               Start              Finish
0               normal 2018-05-07 23:45:00 2018-05-09 00:00:00
1   operação encerrada 2018-05-09 00:00:00 2018-05-09 04:41:00
2               normal 2018-05-09 04:41:00 2018-05-09 18:10:00
3  velocidade reduzida 2018-05-09 18:10:00 2018-05-09 18:16:00
4               normal 2018-05-09 18:16:00 2018-05-10 00:00:00

In [12]:
(df_azul.loc[0]['Finish'] - df_azul.loc[0]['Start']).days

1

df_azul.info()
drop_weird(df_azul).info()

In [ ]:
df_azul = drop_weird(df_azul)
df_azul.reset_index(inplace=True)

In [ ]:
fig = ff.create_gantt(df_azul, title='Subway', bar_width=0.3, showgrid_x=True, showgrid_y=True, group_tasks=True)

In [ ]:
plotly.plotly.iplot(fig, filename='subway', world_readable=True)

In [ ]:
df_azul_one = df_azul[(df_azul['Start'].dt.month == 7) & (df_azul['Start'].dt.day == 25)]
df_azul_one.reset_index(drop=True, inplace=True)

In [ ]:
fig = ff.create_gantt(df_azul_one, title='Linha azul 25/07/2018', bar_width=0.3, showgrid_x=True, showgrid_y=True, group_tasks=True)
plotly.plotly.iplot(fig, filename='subway', world_readable=True)

In [ ]:
df_azul_one